// main colors
$primary: #131921;
$white: #fff;
$light: rgb(209, 203, 203);
$amazon-color: #febd69;
$hulu-color: #6DE883;

// Breakpoints
$bp-xsmall: 568px;
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// body {
//   background-color: #dde4e4;
// }

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.app {
}

.container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 12%;
  }

  @media #{$mq-xlarge} {
    margin: 0 18%;
  }
}

